<nav>
	<div class="container mb-3">
		<div class="row mt-2">
			<div class="col">
				<!-- Logo -->
				<img class="logo" src="/images/logo-airbnb.png" alt="Airbnb logo" />
			</div>
			<div class="col text-end">
				<!-- buttons -->
				{{#if user}}

				<button type="button" class="btn btn-outline-secondary" onclick="document.location='/profile'">
					{{user.name}}
				</button>
				<button type="submit" class="btn btn-outline-secondary" onclick="document.location='/auth/logout'">
					Logout
				</button>
				{{else}}
				<button type="submit" class="btn btn-outline-secondary" onclick="document.location='/auth/login'">
					Login
				</button>
				{{/if}}
			</div>
		</div>
	</div>
</nav>
