<nav>
	<div class="container mb-3">
		<div class="row mt-2">
			<div class="col">
				<!-- Logo -->
				<img class="logo" src="/images/logo-airbnb.png" alt="Airbnb logo" />
			</div>
			<div class="col text-end">
				<!-- buttons -->
				<button type="button" class="btn btn-outline-secondary">
					Tony Russo
				</button>
				<button type="button" class="btn btn-outline-secondary">
					Logout
				</button>
			</div>
		</div>
	</div>
</nav>
